# Dependencies
node_modules/
.pnp
.pnp.js
package-lock.json

# Environment & logs
*.log
.env
.env.local

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# Editor directories
.vscode/
.idea/
*.suo
*.sw?
